.footer{
    background-color: $primary-color;

    &__links{
        text-align: center;
        margin-bottom: 2rem;
    }

    &__menu{
        border-top: 1px solid $primary-color-light;
    }

    &__fb{
        width: 6.4rem;
        height: 6.4rem;
        fill: $primary-color-light;
        transition: fill ease .5s;

        &:hover{
            fill: #3578E5;
        }
    }

    &__navigation{
        margin: 2rem auto;
    }

    &__navigation-menu{
        display: flex;
        justify-content: center;
        list-style: none;
        font-size: 1.5rem;

        .menu-item{
            display: block;
            margin: 0 1rem;
        }
    }

    &__copyright{
        text-align: center;
        font-size: 1.3rem;

    }
}