$primary-color: #313131;
$primary-color-dark: #121212;
$primary-color-light: #626262;

$secondary-color: #297396;
$secondary-color-light: #5fa2c7;
$secondary-color-dark: #004868;


$font-color: #ffffff;
$font-color-secondary: #e0e0e0;