$primary-color: #313131;
$primary-color-dark: #121212;
$primary-color-light: #626262;

//$primary-color: #2b353a;
//$primary-color-light: #545f64;
//$primary-color-dark: #000f14;
$secondary-color: #297396;
//$secondary-color: #298452;
$secondary-color-light: #5cb47f;
$secondary-color-dark: #005629;

$third-color: #297396;

$font-color: #f3f3f3;
$font-color-secondary: #e0e0e0;